.docs {
    scroll-margin-top: 80px;
}

.attribute {
    margin: 10px 60px;
}

.title {
    margin: 0 60px;
    font-size: 20px;
    color: var(--pri);
}

.title code {
    position: absolute;
    font-family: var(--font-mono);
    background: var(--bg-d);
    padding: 4px 5px;
    margin: 0 10px;
    margin-top: -1px;
    font-size: 13px;
    border-radius: var(--radius-sm);
    border: 1px solid var(--border);
}